.about-page {
  padding-top: 20px;
  padding-bottom: 20px;



}

.head {
  text-align: center;
}

.about-head {

  background-color: red;
  display: inline-block;
  font-size: 33px;

}


.about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  align-items: center;


}

img {
  position: relative;
  width: 100%;
   left: -123px;
}

.about-image {
  width: 50%;
}

.about-text {
  width: 50%;
}

h3 {
  font-size: 31px;
  font-weight: 700;

}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}