img {
    width: 100%;
}

.gallery .container {
    display: flex;
    gap: 30px;
}

.gallery .car-card {
    width: 33%;
    height: 240px;
    perspective: 1000px;
}

.gallery .car-card .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.gallery .car-card:hover .inner {
    transform: rotateY(-180deg);
}

.gallery .car-card .front-card, 
.gallery .car-card .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery .car-card .back-card {
    background-color: #F3F3F3;
    transform: rotateY(180deg);
}