/* !! Global Rules for all html files */
:root {
    --main-color: #d90429;
    --black: #0A0B0F;
    --grey: #787e92;
    --trans: .3s ease-in-out;
    --border-radius: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}

img {
    display: block;
}

section {
    padding: 100px 0;
}

section:nth-of-type(even) {
    background-color: #f7f7f7;
}

hr {
    border: none;
    border-bottom: 1px solid #dbdee7;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.logo {
    font-weight: 400;
    font-size: 34px;
}

.logo span {
    font-weight: 700;
    color: var(--main-color);
}

.section-heading {
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    line-height: 1;
    text-transform: capitalize;
}

.special-link {
    color: white;
    font-weight: 600;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    text-decoration: none;
    padding: 15px 40px;
    border-radius: var(--border-radius);
    transition: var(--trans);
    display: inline-block;
}

@media (max-width: 576px) {
    .special-link {
        padding: 10px 20px;
    }
}

.special-link:hover {
    background: white;
    color: var(--main-color);
}

/* Start Nav */
nav {
    background: var(--black);
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media ( max-width: 991px ) {
    nav ul {
        position: absolute;
        top: 91px;
        right: -100%;
        flex-direction: column;
        gap: 60px;
        background-color: var(--black);
        height: calc(100vh - 91px);
        padding: 60px;
        transition: var(--trans);
    }
}

nav ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--trans);
}

@media ( max-width: 991px ) {
    nav ul a {
        font-size: 20px;
    }
}

nav ul a.active,
nav ul a:hover {
    color: var(--main-color);
}

nav .menu-icon {
    font-size: 32px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .menu-icon {
        display: none;
    }
}
/* End Nav */

/* Start Pages Header */
.pages-header {
    height: 400px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/bg-pages.jpg');
    background-size: cover;
    background-position: center;
}

.pages-header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.pages-header .container h4 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 10px;
}

.pages-header .container .links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.pages-header .container a {
    color: var(--main-color);
    text-decoration: none;
}

.pages-header .container i {
    font-size: 12px;
    margin: 0 15px;
}
/* End Pages Header */

/* Start Footer */
footer {
    background-color: var(--black);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .github {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .github a {
    color: white;
    font-size: 20px;
    transition: var(--trans);
}

footer .github a:hover {
    color: var(--main-color);
}

footer .copyrights span {
    color: var(--main-color);
    text-transform: uppercase;
}
/* End Footer */