/* Start Global */
.heading {
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.heading h2 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    color: #DDD;
}

.heading span {
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    text-transform: uppercase;
    color: var(--main-color);
}

@media (max-width: 767px) {
    .heading h2 {
        font-size: 60px;
    }

    .heading span {
        bottom: 15px;
    }
}

@media (max-width: 374px) {
    .heading h2 {
        font-size: 50px;
    }

    .heading span {
        bottom: 13px;
        font-size: 16px;
    }
}

img {
    width: 100%;
    display: block;
}
/* End Global */

/* Start Header */
.landing {
    height: calc(100vh);
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* color overlay */
    url('../img/landing.jpg');
    background-size: cover;
    background-position: right center;
    color: white;
}


.landing .container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.landing .container .links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.landing h1 {
    font-size: 94px;
    line-height: 1;
    width: 50%;
    margin-bottom: 50px;
}

@media (max-width: 1199px) {
    .landing {
        background-position: center;
    }
    .landing h1 {
        text-align: center;
        width: 100%;
    }

    .landing .container .links {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .landing h1 {
        font-size: 70px;
    }
}

@media (max-width: 576px) {
    .landing h1 {
        font-size: 50px;
    }
}

@media (max-width: 374px) {
    .landing h1 {
        font-size: 45px;
    }
}
/* End Header */

/* Start About */
.about .content {
    display: flex;
    align-items: center;
    gap: 60px;
}

@media (max-width: 991px) {
    .about .content {
        flex-direction: column;
        text-align: center;
    }
}

.about .content .img {
    flex-basis: 35%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.about .content .text {
    flex-basis: 65%;
}

.about .content .text p {
    margin: 20px 0;
    color: var(--grey);
    line-height: 1.8;
}
/* End About */

/* Start Services */
.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services .content .box {
    text-align: center;
    padding: 40px 20px;
    border-radius: var(--border-radius);
    transition: var(--trans);
}

.services .content .box:hover {
    background-color: white;
}

.services .content .box i {
    font-size: 24px;
    background-color: white;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50%;
    color: var(--main-color);
    transition: var(--trans);
}

.services .content .box:hover i {
    border: 2px solid var(--main-color);
}

.services .content .box h4 {
    margin: 20px 0;
    text-transform: uppercase;
}

.services .content .box p {
    color: var(--grey);
    line-height: 1.8;
}
/* End Services */


/* Start Gallery */
.gallery .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.gallery .content .car {
    background-color: #f7f7f7;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 0 20px #dfdfdf;
    transition: var(--trans);
}

.gallery .content .car:hover {
    box-shadow: none;
}

.gallery .content .car .text {
    padding: 20px;
    text-align: center;
}

.gallery .content .car .text h5 {
    font-weight: 600;
    text-transform: uppercase;
}

.gallery .info {
    text-align: center;
    margin-top: 40px;
}
/* End Gallery */

/* Start Reviews */
.reviews .content .review {
    display: flex;
    gap: 40px;
    padding: 40px;
}

@media (max-width: 576px) {
    .reviews .content .review {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items: center;
    }
}

.reviews .content .review:nth-of-type(even) {
    background-color: white;
}

.reviews .content .review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.reviews .content .review .text h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-color);
}

.reviews .content .review .text p {
    color: var(--grey);
    margin: 10px 0 20px;
}

.reviews .content .review .text a {
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid var(--black);
}
/* End Reviews */
