.amr{
    color: black;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    justify-self: start;
}
h3,h2{
    color: blue;
    padding-left: 15px;
    
}
.aar{
    display: flex;
    transition: ease;
    width: 700px;
    margin-top: 30px;
    gap: 30px;
    margin-left: 100px;
    
}
.ar :hover{
    background-color: gainsboro;
}
p{
    padding: 20px;
}
.ar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: azure;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: ease;
    
}

button.active{
    background-color: rgb(0, 224, 7);

}
.rate{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ra