
:root {
    --main-color: rgb(169, 123, 18);
}

@media (max-width: 769px){
    .aar{
        display: flex;
        transition: ease;
        width: 100%;
        margin-top: 30px;
        gap: 30px;
    }
}
@media(min-width:770px){
    .aar{
        display: flex;
        width: 50%;
        margin: 10px;
        margin-left: 100px;
    }
    .ar{
        display: flex;
    }
}
.section-heading h4{
    margin-top: 110px;
    text-align: center;
}
h5{
    padding: 10px;
}
.videos{
    padding: 15px;
    margin-left: 30px;
}
a{
    text-decoration: none;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 60px;
}
h2,h6{
    color: var(--main-color);
    padding-left: 100px;
    text-transform: capitalize;
}
h3{
    color: var(--main-color);
    padding-left: 15px;
    text-transform: capitalize;
}

.ar :hover{
    background-color: gainsboro;
}
.par{
    padding: 20px;
    line-height: 1.8;
}
 
button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: azure;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: ease;
    
}

button.active{
    background-color: var(--main-color);

}
.rate{
    display: flex;
    align-items: center;
    justify-content: center;  
}
.rateus{
    background-color: aliceblue;
}