 body {
/*     background-image: url('../img/car.jpg');  */
    background-image: url('https://raw.githubusercontent.com/yossef44/IT-Project-AutoArena/main/2015_1391474129_229.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sign-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: 20px auto;
}

.sign-container h2 {
    margin-bottom: 30px;
    color: #110101;
}

.sign-container input {
    font-family: inherit;
    text-transform: capitalize;
    width: 100%;
    padding: 5%;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: block;
    outline: none;
}

.sign-container button {
    width: 100%;
    padding: 12px;
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px 0 10px;
}

.sign-container p {
    margin-top: 10px;
    font-size: 20px;
}

.sign-container a {
    color: red;
    text-decoration: none;
}

.h2 {
    color: wheat;
}
